{% extends "account/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/account-style.css' %}">
{% endblock %} 
{% block js %}{% endblock %} 



{% block title %}ログイン{% endblock %}

{% block content %}

<section class="container">

  <h2>LOGIN</h2>  
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    
    {% for field in form%}
      <div class="account-form">
        <div class="account-filed">
            {% if forloop.last %}
            <span class="last-field">{{ field }}</span>
              <span class="login-maintain">ログイン状態を維持する</span>
            {% else %}
              <span class="non-last-field">{{ field }}</span>
            {% endif %}
        </div>

        <div class="account-helptext">
          {% if field.errors %}
            <p>{{ field.errors.0 }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor%}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    {% if form.non_field_errors %}
    <div class="non-field-error">
      <ul>
        {% for non_field_error in form.non_field_errors %}
          <li>{{non_field_error}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="password-reset">
      <a class="secondaryAction" href="{% url 'account_reset_password' %}"> パスワードの再設定</a>
    </div>
    
    <div class="account-grid">
        <button class="btn primaryAction form-submit" type="submit">ログイン</button>
        <a href="{{ signup_url }}" class="btn btn-account create-account">アカウント作成</a>
    </div>

  </form>
  
</section>

{% endblock %}
