{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/header.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/account-style.css' %}">
{% endblock %} 
{% block js %}{% endblock %} 



{% block title %}パスワードリセット{% endblock %}

{% block content %}

<section class="container">

  <h2>PASSWORD RESET</h2>  
 
  <p>パスワードをお忘れですか？<br>記入されたメールアドレスへ再設定のリンクを送信します。</p>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}
 


  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    
    {% for field in form%}
      <div class="account-form">
        <div class="account-filed">
          <span class="non-last-field">{{ field }}</span> 
        </div>

        <div class="account-helptext">
          {% if field.errors %}
            <p>{{ field.errors.0 }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor%}

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    {% if form.non_field_errors %}
    <div class="non-field-error">
      <ul>
        {% for non_field_error in form.non_field_errors %}
          <li>{{non_field_error}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    
    <div class="account-grid">
        <button class="primaryAction form-submit" type="submit">パスワードのリセット</button>
        <a href="{{ login_url }}" class="btn btn-account create-account">ログインに戻る</a>
    </div>
  </form>
  <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</section>

{% endblock %}
